@model PuntoVenta.Dominio.Entity.Caja

@{
    ViewData["Title"] = "Cerrar Caja";
}

<h1>Cerrar Caja</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Close">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IdUsuario" class="form-control" hidden />
            <input asp-for="FechaApertura" class="form-control" hidden />
            <input asp-for="Id" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="ValorInicial" class="control-label"></label>
                <input asp-for="ValorInicial" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="VentaTotal" class="control-label"></label>
                <input asp-for="VentaTotal" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ValorTotalGastos" class="control-label"></label>
                <input asp-for="ValorTotalGastos" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <br/ >
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
                <a href="@Url.Action("Index")" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>