@model PuntoVenta.Dominio.Entity.Gasto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IdCaja" class="form-control" hidden/>
            <input asp-for="Fecha" class="form-control" hidden/>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concepto" class="control-label"></label>
                <input asp-for="Concepto" class="form-control" />
                <span asp-validation-for="Concepto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdEstado, (IEnumerable<SelectListItem>)ViewBag.ListEstados, "Seleccione una opción", new { @class = "form-control" })
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
                <a href="@Url.Action("IndexUser")" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>
